<div class="header bg-gray-900 flex justify-between items-center">
  <div class="flex gap-3 justify-between items-center">
    <div
      routerLink="/home"
      class="logo flex rounded-full overflow-hidden shadow p-1 w-16 h-16"
    >
      <img
        src="https://st2.depositphotos.com/4398873/9234/v/600/depositphotos_92345936-stock-illustration-fork-and-knife-with-heart.jpg"
        alt=""
        class="rounded-full"
      />
    </div>
  </div>
  <div class="search w-6/12 flex bg-white justify-between items-center">
    <i class="fas fa-search p-3 text-gray-700 h-full border-right-2"></i>
    <input
      type="text"
      class="w-full shadow-2xl rounded-none bg-white"
      placeholder="buscar un menu"
    />
  </div>
  <div class="px-4 flex justify-center items-center">
    <div
      *ngIf="!dataUser.userId; else userLogged"
      class="login-register flex justify-between items-center gap-2"
    >
      <button
        class="btn text-white btn-login hover:text-blue-500"
        routerLink="/auth/login"
      >
        Login
      </button>
      <button
        routerLink="/auth/register"
        class="btn btn-register text-white bg-blue-500 hover:bg-blue-400"
      >
        Registrarse
      </button>
    </div>

    <ng-template
      #userLogged
      class="login-register flex justify-between items-center gap-2"
    >
      <div routerLink="cart" class="cart relative cursor-pointer">
        <span
          class="absolute top-0 right-0 flex jusyify-center items-center w-4 h-4 rounded-full bg-blue-200 p-1 text-gray-600"
        >
          {{ DetailMenu.length }}
        </span>
        <i
          class="fas fa-cart-plus w-full flex flex-col justify-center items-center p-2 text-white hover:text-white"
        ></i>
      </div>
      <div class="content-header-right">
        <div class="user-logo">
          <img
            src="https://st2.depositphotos.com/1104517/11965/v/950/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
            alt="logo admin"
            class="rounded-full overflow-hidden"
          />
          <span class="user-name text-white">{{ dataUser.fullName }}</span>
        </div>
        <div
          class="menu-user w-52 h-auto bg-white -right-2 top-12 z-50 shadow-xl rounded-sm hidden"
        >
          <ul class="w-full">
            <li
              class="flex items-center justify-center p-2"
              *ngFor="let menu of menus"
            >
              <a href="{{ menu.url }}" class="flex items-center w-full">
                <span
                  class="icon flex justify-center items-center min-w-1/12 text-left"
                >
                  <i class="{{ menu.icon }}"></i>
                </span>
                <span class="ml-4 title">{{ menu.displayName }}</span>
              </a>
            </li>
            <li
              class="flex items-center justify-center border-2 border-gray-100 p-2"
              (click)="Logout()"
            >
              <a href="" class="flex items-center w-full">
                <span class="icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="title ml-4">Cerrar Sesion</span>
              </a>
            </li>
            <!-- <li class="flex items-center justify-center p-2">
              <a href="/roles" class="flex items-center w-full">
                <span
                  class="icon flex justify-center items-center min-w-1/12 text-left"
                >
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="ml-4 title">Role</span>
              </a>
            </li>
            <li class="flex items-center justify-center p-2">
              <a href="/statuses" class="flex items-center w-full">
                <span
                  class="icon flex justify-center items-center min-w-1/12 text-left"
                >
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="ml-4 title">Estados</span>
              </a>
            </li>

            <li
              class="flex items-center justify-center border-2 border-gray-100 p-2"
              (click)="Logout()"
            >
              <a href="" class="flex items-center w-full">
                <span class="icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="title ml-4">Cerrar Sesion</span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</div>
