<div class="login justify-center items-center my-4 h-full flex">
  <form
    autocomplete="off"
    action="#"
    class="form-login bg-white p-8 mx-3 h-auto shadow-xl rounded-sm form flex flex-col justify-start items-center"
    [formGroup]="statusForm"
    (ngSubmit)="Create()"
  >
    <h3 class="self-start title-form login-header-title">
      {{ option }}
    </h3>

    <fieldset>
      <label for="name">Nombre</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Ingrese un nombre de estado"
        name="name"
      />
      <span
        class="alert-error"
        *ngIf="
          statusForm?.controls?.name?.errors?.required &&
          statusForm?.controls?.name?.touched
        "
      >
        El nombre es obligatorio
      </span>
    </fieldset>

    <div class="w-full flex justify-between my-2">
      <button type="submit" class="btn text-lg uppercase self-start btn-d">
        {{ btnOption ? "Actualizar" : "Crear" }}
      </button>
      <buttton
        routerLink="/statuses"
        class="btn text-lg uppercase self-start btn-cancel"
      >
        Volver
      </buttton>
    </div>
  </form>
</div>
