<main class="main">
  <div class="menus container">
    <div
      class="menus-container grid gap-4 justify-center items-center justify-items-center p-2 m-auto"
    >
      <div
        *ngFor="let menu of menus"
        class="menu bg-white hover:shadow-md shadow-sm cursor-pointer"
      >
        <!-- <div routerLink="/menu/{{ menu.name }}" class="menu-header relative"> -->
        <div class="menu-header relative">
          <!-- <div class="img"></div> -->
          <img
            routerLink="/menus/{{ menu.name.trim() }}/{{ menu.id }}"
            *ngIf="menu.image"
            src="{{
              menu.image
                ? menu.image
                : './../../../../../assets/img/menuDefault.jpg'
            }}"
            alt="{{ menu.name }}"
          />

          <div
            class="icons-actions-menu hidden shadow-2xl rounded-sm flex-col justify-center items-center absolute top-0 left-0 bg-white m-1"
          >
            <i
              pTooltip="Agregar al carrito"
              tooltipPosition="right"
              class="fas fa-cart-plus w-full flex flex-col justify-center items-center p-2 hover:bg-gray-900 hover:text-white"
              (click)="addDetail(menu)"
            ></i>
            <i
              class="fas fa-eye w-full p-2 flex flex-col justify-center items-center hover:bg-gray-900 hover:text-white"
            ></i>
            <i
              class="fas fa-bookmark w-full flex flex-col justify-center items-center p-2 hover:bg-gray-900 hover:text-white"
            ></i>
          </div>
        </div>
        <div class="details p-3">
          <h3 class="text-lg text-gray-800">
            {{ menu.name }}
          </h3>
          <span class="description opacity-70 text-md">
            {{ menu.description.slice(0, 30) + "..." }}
          </span>
        </div>
      </div>
    </div>
  </div>
</main>
