<div class="container">
  <div
    *ngIf="GetQuantity"
    class="bg-white border-l-2 p-4 border-blue-300 my-4 flex items-center justify-center"
  >
    <span style="margin-bottom: 0px" class="title-form !mb-0">
      Mi Carrito
    </span>
  </div>

  <div *ngIf="GetQuantity" class="cart justify-between gap-8 grid">
    <div class="items flex justify-center bg-white shadow rounded-sm flex-col">
      <div
        *ngFor="let item of items"
        class="item hover:bg-gray-100 duration-300 cursor-pointer hover:border-r-2 border-b-2 border-gray-100 p-4 flex sm:flex-row flex-col justify-between items-center"
      >
        <img width="150" src="{{ item.image }}" alt="{{ item.name }}" />
        <p class="item-name">{{ item.name }}</p>
        <div class="flex gap-1 items-center justify-center">
          <button
            class="btn rounded-full w-8 h-8 text-center flex items-center justify-center bg-gray-400"
            (click)="MoreOrder(item)"
          >
            +
          </button>
          <p>{{ item.quantity }}</p>
          <button
            class="btn rounded-full w-8 h-8 text-center flex items-center justify-center bg-gray-300"
            (click)="LessOrder(item)"
          >
            -
          </button>
        </div>
        <p class="item-name">${{ item.price }}</p>
        <p class="item-name">${{ item.price * item.quantity }}</p>
        <span
          class="remove-item hover:bg-red-700 duration-200 p-2 w-8 h-8 text-center flex items-center justify-center text-white rounded-full shadow-2xl bg-red-500"
          >X</span
        >
      </div>
    </div>
    <div class="summary-coupon flex flex-col gap-8">
      <div class="coupon bg-white shadow-lg rounded-sm p-4">
        <h3>Tienes coupon?</h3>
        <div class="flex !flex-row !gap-0 !p-0">
          <input type="text" placeholder="codigo coupon" />
          <button class="btn text-white bg-blue-600" (click)="ApplyDiscount()">
            Aplicar
          </button>
        </div>
      </div>
      <div
        class="summary flex flex-col gap-4 bg-white shadow-lg rounded-sm p-4"
      >
        <p class="price-total">Sub Total : ${{ subtotal }}</p>
        <p class="price-total text-red-500">Descuento : $-{{ discount }}</p>
        <p class="price-total">Total : ${{ total }}</p>
        <button class="btn bg-blue-600 text-white">
          Realizar Pedido <i class="fas fa-shipping-fast"></i>
        </button>
        <button class="btn bg-yellow-500" [routerLink]="['/home']">
          Seguir Comprando <i class="fas fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="!GetQuantity"
    class="items flex justify-center flex-col items-center gap-8 w-full empty-cart"
  >
    <i class="fas fa-cart-plus showmessage"></i>
    <label for=""
      >Tu carrita esta vacio, agregar un menu para que pueda realizar un
      pedido</label
    >

    <button class="btn bg-yellow-500" [routerLink]="['/home']">
      <i class="fas fa-bars"></i> Ir al menu
    </button>
  </div>
</div>
