.cart {
  grid-template-columns: 67% 27%;
}

@media (max-width: 650px) {
  .cart {
    grid-template-columns: 1fr;
  }
  .item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 999px;
  }
}
