.menu-detail .image {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.image img {
  width: 100%;
}
.details > div {
  flex-basis: 50%;
}
