<div class="container">
  <p-table
    #dt
    [value]="roles"
    dataKey="id"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} de {last} a  {totalRecords} total"
    [filterDelay]="0"
    [globalFilterFields]="['name', 'description', 'createdAt']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        <div class="row">
          <div class="col-md-12">
            <div class="flex justify-between items-center">
              <h1 class="display-4 py-2 text-truncate text-center">
                Lista de roles
              </h1>
              <a href="/roles/ActionRole" class="btn btn-d">Nuevo rol</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-ai-center">Codigo</div>
        </th>
        <th>
          <div class="p-ai-center">Nombre</div>
        </th>
        <th>
          <div class="p-ai-center">Descripcion</div>
        </th>
        <th>
          <div class="p-ai-center">Fecha de alta</div>
        </th>
        <th>
          <div class="p-ai-center">Action</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
      <tr class="p-selectable-row">
        <td>
          {{ role.id }}
        </td>
        <td>
          {{ role.name }}
        </td>
        <td>
          {{ role.description }}
        </td>
        <td>
          {{ role.createdAt | date: "MM/dd/yyyy" }}
        </td>
        <td class="mx-2 flex gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            pTooltip="Actualizar rol"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-success p-mr-2"
            [routerLink]="['/roles/ActionRole/' + role.id]"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            pTooltip="Eliminar rol"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-danger"
            (click)="Delete(role.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No hay rol.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
