<div class="container">
  <p-table [value]="statuses" sortField="name" sortMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-status let-rowIndex="rowIndex">
      <!-- <tr
      class="ui-widget-header"
      *ngIf="rowGroupMetadata[status.name].index === rowIndex"
      >
      <td colspan="3">
        <span style="font-weight: bold">{{ status.name }}</span>
      </td>
    </tr> -->
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.createdAt | date: "fullDate" }}</td>
        <td class="mx-2 flex gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            pTooltip="Actualizar estado"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-success p-mr-2"
            [routerLink]="['/roles/ActionRole/' + status.id]"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            pTooltip="Eliminar estado"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-danger"
            (click)="Delete(status.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
