<footer class="footer bg-gray-900 text-white p-2">
  <div class="footer-container flex justify-between w-full items-center">
    <div class="footer-left flex w-10/12 justify-start items-center gap-4">
      <div
        routerLink="/home"
        class="logo flex rounded-full mr-8 overflow-hidden shadow p-1 w-16 h-16"
      >
        <img
          src="https://st2.depositphotos.com/4398873/9234/v/600/depositphotos_92345936-stock-illustration-fork-and-knife-with-heart.jpg"
          alt=""
          class="rounded-full"
        />
      </div>
      <ul class="flex justify-center items-center gap-3">
        <li
          routerLinkActive="border-b-2 border-white text-blue-500 current"
          class="hover:text-blue-500"
        >
          <a routerLink="/home">Inicio</a>
        </li>
        <li
          routerLinkActive="border-b-2 border-white text-blue-500 current"
          class="hover:text-blue-500"
        >
          <a routerLink="/auth/register">Quienes Somos</a>
        </li>
        <li
          routerLinkActive="border-b-2 border-white text-blue-500 current"
          class="hover:text-blue-500"
        >
          <a routerLink="/auth/login">Menus</a>
        </li>
        <li class="hover:text-blue-500"><a href="">Terminos & Condicion</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <span> &copy; 2022 </span>
    </div>
  </div>
</footer>
